/*https://colorhunt.co/palette/1818837
#f0134d
#ff6f5e 
#f5f0e3
#40bfc1
*/
:root {
  --main-red-color: #f0134d; /*var(--main-red-color);*/
  --second-red-color:#ff6f5e ; /*var(--second-red-color);*/
  --main-white-color: #f5f0e3; /*var(--main-white-color);*/
  --second-white-color: #fff; /*var(--second-white-color);*/
  --main-blue-color: #40bfc1; /*var(--main-blue-color);*/
  --main-grey-color: #646363; /*var(--main-grey-color);*/
  --main-font-family: 'Ubuntu', sans-serif; /*var(--main-font-family);*/
  --second-font-family: 'Montserrat', sans-serif; /*var(--second-font-family);*/
}


body{
    margin: 0;
    font-family: var(--second-font-family);
}

/*title*/

#title{
    background-color: var(--main-red-color);
    color: var(--second-white-color);
}

.title-container{
    padding: 3% 15%;
}

.title-text{
    font-family: 'Francois One', sans-serif;
    font-size: 3.8rem;
    line-height: 1.5; /*space between the lines*/
    font-weight: 900;
}


/*  (sub) navigation bar*/ 
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
    
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}


.download-button{
    margin: 5% 3% 5% 0%;
}


.title-image{
    width: 60%;
    padding-top: 1rem;
    transform: translateX(6.125rem) rotate(25deg);
    position: absolute;
}

/*Features*/

#features{
    background-color: var(--main-white-color);
    position: relative;
}

.features-container{
    padding: 3% 15% 7% 15%;

}

.features-row{
    text-align: center;
}

.features-icon{
    padding-top: 2rem;
    color: var(--main-red-color);
    font-size: 6.5rem;
}

.features-icon > i:hover{
    color: var(--second-red-color);
}


.features-title{
    font-family: var(--second-font-family);
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.features-subtitle{
    color: var(--main-grey-color);
    width: 80%; 
    margin: auto;
}

/*testimonials*/

#testimonials{
    background-color: var(--main-red-color);
    color: var(--second-white-color);
}

.testimonials-container{ /*buttons to the maximum left and right*/
    /*padding-left: 0px;   
    padding-right: 0px;*/
    text-align: center;
}

.testimonials-carousel-inner{
    padding: 7% 15%;
}

.testimonial-text{
    font-size: 2rem;
    line-height: 1.5; 
    font-weight: 900;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 1.6rem;
}

/*   to style the buttons

.testimonials-carousel-prev{
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f5f0e3;
    border-radius: 100%;
}

.testimonials-carousel-next{
    background-color: #f5f0e3;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f5f0e3;
    border-radius: 100%;
}

.carousel-control-prev-icon{
    background-image:url();
}

.carousel-control-next-icon{
    background-image:url();
}

*/

/*press*/
#press{
    background-color: var(--main-white-color);
}
.press-container{
    text-align: center;
    padding: 2% 15% 2% 15%;
}

.press-img{
    width: 175px;
    padding: 1rem 1rem;
}

/*Pricing*/

.pricing-container{
    padding: 7% 15%;
    text-align: center;
}

.pricing-deck{
    margin-top: 2.5rem;
}

.pricing-card{
    padding: 2%;
}

/*Cta*/

#cta{
    text-align: center;
    color: var(--second-white-color);
    background-color: var(--main-red-color);
}

.cta-container{
    padding: 7% 15%;
}

.cta-title{
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/*footer*/

#footer{
    background-color: var(--main-white-color);
    text-align: center;
    color: var(--main-grey-color);
}

.footer-container{
    padding: 7% 8%;
}

.social-media-icon{
    font-size: 1.5rem;
    color: #000;
    padding-bottom: 2%;
    padding-right: 1%;
    padding-left: 1%;
}

/*media section*/

@media(max-width: 1043px){

    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
        position: static;
    }

}

@media(max-width: 414px){

    .title-text{
        font-family: 'Francois One', sans-serif;
        font-size: 3rem;
        line-height: 1.5; /*space between the lines*/
        font-weight: 900;
    }

}



